    #adImg {
        height: 10%;
        width: 100%;
    }
    
    hr {
        border: 1px solid #c7c7c7;
    }
    
    #first {
        padding: 5%;
        display: grid;
        justify-items: center;
    }
    
    #first>h1 {
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
    }
    
    #first>p {
        text-align: center;
        font-size: 1.1rem;
    }
    
    #spo003 {
        padding-top: 10px;
    }
    
    #second {
        padding: 3% 5%;
        display: grid;
        grid-template-columns: 2fr 5fr;
        grid-template-rows: repeat(4, minmax(80px, auto));
        /* row-gap: 5%; */
        align-items: center;
        justify-items: center;
        text-align: center;
    }
    
    #second>img {
        width: 40%;
    }
    
    #second>#item {
        justify-self: start;
    }
    
    #second>#item:nth-child(8) {
        display: grid;
        justify-items: start;
    }
    
    select {
        border-bottom: 1px solid black;
        width: 100px;
    }
    
    #hasDevice {
        padding-top: 5%;
    }
    
    #third {
        margin: 0 auto;
        width: 70%;
    }
    
    #third>img {
        width: 100%;
    }
    
    #modal {
        display: grid;
        align-items: center;
        text-align: center;
        height: 100px;
        font-size: 1.5rem;
    }