#container {}

h1 {
    height: 55%;
    display: grid;
    justify-items: center;
    align-items: end;
    padding-bottom: 20%;
    font-size: 2rem;
    font-weight: 600;
}

#btn {
    display: grid;
    justify-items: center;
}

img {
    width: 80%;
}