#adImg {
    height: 10%;
    width: 100%;
}

#first {
    height: 35%;
    position: relative;
    overflow: hidden;
}

#first>img {
    height: 120%;
}

#tag {
    position: absolute;
    top: 90%;
    left: 63%;
    color: white;
}

#second {
    padding: 5px 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#second>h1 {
    grid-column: 1/3;
}

#second>p {
    grid-column: 1/3;
    margin-bottom: 0;
}

#second>span:nth-child(3) {
    grid-column: 1/3;
    text-align: right;
}

#second>span,
#second>div {
    font-size: 1.1rem;
}

#second>div {
    grid-column: 1/3;
    text-align: right;
}

#second>div>span:nth-child(1) {
    color: #034ea2;
    font-size: 1.4rem;
    font-weight: 900;
}

hr {
    width: 90%;
    margin: 0 auto;
    border: 1px solid #c7c7c7;
}

#third {
    padding: 5px 5%;
}

.item {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.item>img {
    width: 10%;
}

.item>span {
    padding-left: 10px;
}

#vrBtn>a>img {
    width: 100%;
}

#forVR {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#forVR>.item {
    grid-column: 1/4;
}

#forVR>.item:nth-child(1) {
    grid-row: 1/2;
}

#forVR>.item:nth-child(3) {
    grid-row: 2/3;
}

#vrBtn {
    grid-column: 3;
    grid-row: 1/4;
    z-index: 1;
}

#vrBtn>img {
    width: 100%;
}

#forth {
    margin: 0 auto;
    width: 70%;
    margin-top: 3%;
}

#forth>img {
    width: 100%;
}